<div class="container">
  <h3 class="center-align">Login</h3>
  <div class="row">
    <form class="col s12" ng-submit="submitLogin()">
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="username" placeholder="username" id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="password" placeholder="password" id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col m12">
          <p class="right-align">
            <a href="#/register" class="btn btn-large waves-effect waves-light deep-orange darken-2">Register</a>
            <button class="btn btn-large waves-effect waves-light light-blue darken-2" type="submit">Login</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>