<div ng-repeat = "(key, chatBox) in chatBoxes">
	<ul class="collection with-header chat-window" style="right:{{ 350*$index }}px;">
	    <li class="collection-header" style="margin:0px; padding:0px;">
	      <div class="row valign-wrapper" style="margin:0px; padding:0px;">
	        <div class="col m9">
	          <p><b>{{ chatBox.title }}</b></p>
	        </div>
	        <div class="col m3 valign">
	          <span ng-click="toggleChatBox(chatBox)"><b>_</b></span>&nbsp;&nbsp;
	          <span ng-click="closeChatBox(key)"><b>X</b></span>
	        </div>
	      </div>
	    </li>
	    <li class="collection-item" style="margin:0px; padding:0px;">
	      <div class="msg-container-base" ng-show="chatBox.display">
	      <ul class="collection" style="margin:0px; padding:0px;" scroll-glue>
	        <li class="collection-item avatar" style="margin: 10px 2px;" ng-repeat="chat in chatBox.chats">
	          <i class="material-icons circle red">{{ chat.source.name[0] }}</i>
	          <p style="font-size:13px;"><b>{{ chat.source.name }}</b></p>
	          <p style="font-size:13px;">{{ chat.message }}</p>
	        </li>
	      </ul>
	    </li>
	    <li class="collection-item" style="margin:0px; padding:0px;">
	      <form style="display:inherit" ng-submit="sendChat(chatBox)">
	        <div class="row valign-wrapper" style="margin:0px; padding:0px;">
	          <div class="input-field col s8 valign">
	            <input type="text" placeholder="Type chat here..." ng-model="chatBox.chatContent" style="margin:0px;"/>
	          </div>
	          <div class="input-field col s4 valign" style="margin:0px; padding:0px;">
	            <button class="btn waves-effect waves-light" type="submit" name="action">
	              <i class="material-icons">send</i>
	            </button>
	          </div>
	        </div>
	      </form>
	    </li>
  </ul>
</div>
<div class="row">
	<div class="col m5 offset-m1">
		<h5>List User</h5>
		<table class="bordered striped centered responsive-table">
			<thead>
				<tr>
					<th data-field="nama">Nama</th>
					<th data-field="status">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{ user.name }}</td>
					<td>
						<a ng-if="user.online" ng-click="openChatBox(user)"><img src="images/status_online.png"></a>
						<a ng-if="!user.online" ng-click="openChatBox(user)"><img src="images/status_offline.png"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<button ng-click="logout()" class="waves-effect waves-light btn right">Logout</button>
	</div>
</div>