<div class="container">
  <h3 class="center-align">Register Form</h3>
  <div class="row">
    <form class="col s12" ng-submit="submitRegister()">
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="name" placeholder="name" id="name" type="text" class="validate">
          <label for="name">Fullname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="email" placeholder="email" id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="username" placeholder="username" id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="password" placeholder="password" id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col m12">
          <p class="right-align">
          <a href="#/login" class="btn btn-large waves-effect waves-light deep-orange darken-2" type="button">Back</a>
          <button class="btn btn-large waves-effect waves-light light-blue darken-4" type="submit">Submit</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>